# IDE
*.iml
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/

# Gradle / Kotlin
.gradle/
.kotlin/
.vscode/
build/
**/build/

# Local machine configuration
local.properties

# Android Studio / NDK
captures/
.externalNativeBuild/
.cxx/

# Stockfish lib
/app/src/main/jniLibs/

# OS files
.DS_Store
